<%- include('partials/header') %>


<div class="jumbotron centered bg-warning">
  <div class="container">
    <i class="fas fa-key fa-6x keyIcon"></i>
    <hr>
    <h1 class="display-3 text-light">Secrets</h1>
    <hr>
    <p class="lead text-light">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-outline-light btn-lg signUpbtn" href="/register" role="button">Sign Up</a>
    <a class="btn btn-light btn-lg text-warning" href="/login" role="button">Sign In</a>

  </div>
</div>

<%- include('partials/footer') %>
