<%- include('partials/header') %>


<div class="jumbotron centered bg-danger">
  <div class="container">
    <i class="fas fa-key fa-6x keyIcon"></i>
    <hr>
    <h1 class=" text-light">User Not Found. Please register yourself..!</h1>
    <hr>
    <a class="btn btn-outline-light btn-lg signUpbtnDan" href="/register" role="button">Sign Up</a>
  </div>
</div>

<%- include('partials/footer') %>
